name: action-test-push
on: 
  push: 
    branches-ignore:
      - main
  pull_request:
    branches-ignore: 
      - main

jobs:
  test-run:
    runs-on: ubuntu-latest
    # optionally use a convenient Ubuntu LTS + DVC + CML image
    # container: docker://ghcr.io/iterative/cml:0-dvc2-base1
    # defaults:
    #   run:
    #     # TODO
    #     working-directory: ./models/iris
    steps:
      - run: echo '${{github.ref}}' 
      - run: echo '${{github.head_ref}}'
      - run: echo '${{github.base_ref}}'
      - uses: actions/github-script@v5
        id: set-model-name
        with:
          script: |
            console.log(JSON.stringify(github));
            console.log(JSON.stringify(context));
            return 'iris';
          result-encoding: string
      - name: Get model name
        run: echo "${{steps.set-model-name.outputs.result}}"
