name: train-model-command
on:
  repository_dispatch:
    types: [train-model-command]
jobs:
  trainModel:
    runs-on: ubuntu-latest
    container: docker://ghcr.io/iterative/cml:0-dvc2-base1
    defaults:
      run:
        # TODO
        working-directory: ./models/iris
    steps:
      - uses: actions/checkout@v2
      # may need to setup NodeJS & Python3 on e.g. self-hosted
      # - uses: actions/setup-node@v2
      #   with:
      #     node-version: '12'
      # - uses: actions/setup-python@v2
      #   with:
      #     python-version: '3.x'
      - uses: iterative/setup-cml@v1
      - uses: iterative/setup-dvc@v1
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Train model
        run: |
          pip uninstall protobuf python3-protobuf
          pip install --upgrade pip
          pip install --upgrade protobuf

          # Your ML workflow goes here
          pip install -r requirements.txt
          python train.py
      - name: Write CML report
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.ACC_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.SEC_ID }}
        run: |
          dvc pull
          dvc repro

          python evaluate.py

          echo "## Model Metrics" >> report.md
          dvc metrics diff main --show-md >> report.md

          echo "## Data" >> report.md
          cml-publish cnf_matrix.png --md >> report.md
          
          cml-send-comment report.md
